---
import { getLangFromUrl, useTranslations, type Language } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url) as Language
const t = useTranslations(lang)
---

<section class="form" id="contact">
	<div class="form__text-comercios">
		<h2>{t('contact.title')}</h2>
		<h3>{t('contact.subtitle')}</h3>
		<p>
			{t('contact.description')}
		</p>
	</div>
	<form class="form__form" id="contact-form" data-lang={lang}>
		<div class="form__input-container">
			<label
				>{t('contact.name')}
				<input type="text" id="name" placeholder="John Doe" required />
			</label>
		</div>
		<div class="form__input-container">
			<label
				>{t('contact.company')}
				<input type="text" id="company" placeholder="Arken S.R.L" required />
			</label>
		</div>
		<div class="form__input-container">
			<label
				>{t('contact.phone')}
				<input type="number" id="tel" placeholder="1134567890" required />
			</label>
		</div>
		<div class="form__input-container">
			<label
				>{t('contact.email')}
				<input type="email" id="email" placeholder="Arken@mail.com" required />
			</label>
		</div>
		<div class="form__input-container">
			<label
				>{t('contact.message')}
				<textarea id="message" placeholder={t('contact.message')}></textarea>
			</label>
		</div>
		<div class="form__input-container">
			<input type="submit" value={t('contact.send')} />
		</div>
	</form>
</section>
