<section class="form" id="contact">
	<div class="form__text-comercios">
		<h2>Contacto</h2>
		<h3>¿Tienes un local o punto de venta?</h3>
		<p>
			Si te interesa ofrecer nuestros productos, simplemente completá el formulario de contacto para
			comercios y nos comunicaremos con vos a la brevedad.
		</p>
	</div>
	<form class="form__form" id="contact-form">
		<div class="form__input-container">
			<label
				>Nombre
				<input type="text" id="name" placeholder="John Doe" required />
			</label>
		</div>
		<div class="form__input-container">
			<label
				>Razón social
				<input type="text" id="company" placeholder="Arken S.R.L" required />
			</label>
		</div>
		<div class="form__input-container">
			<label
				>Teléfono
				<input type="number" id="tel" placeholder="1134567890" required />
			</label>
		</div>
		<div class="form__input-container">
			<label
				>Correo electrónico
				<input type="email" id="email" placeholder="Arken@mail.com" required />
			</label>
		</div>
		<div class="form__input-container">
			<label
				>Mensaje
				<textarea id="message" placeholder="Escribe tu mensaje..."></textarea>
			</label>
		</div>
		<div class="form__input-container">
			<input type="submit" />
		</div>
	</form>
</section>
