---
import { getLangFromUrl, useTranslations, type Language } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url) as Language
const t = useTranslations(lang)
---

<footer class="footer">
	<div class="footer__logo-container">
		<img src="/Fotos/Logo.webp" alt="Arken Games Logo" class="footer__logo" />
	</div>
	<div class="footer__social-media">
		<p>{t('footer.news')}</p>
		<div class="footer__social-media-icons">
			<a href="https://www.instagram.com/arkengamesok/" target="_blank" rel="noopener noreferrer">
				<img src="/Fotos/Instagram-icon.webp" alt="Instagram Icon" class="footer__social-icon" />
			</a>
			<a
				href="https://www.facebook.com/profile.php?id=61576278540938"
				target="_blank"
				rel="noopener noreferrer"
			>
				<img src="/Fotos/Facebook-icon.webp" alt="Facebook Icon" class="footer__social-icon" />
			</a>
			<a href="https://wa.link/3omw9g" target="_blank" rel="noopener noreferrer">
				<img src="/Fotos/Whatsapp-icon.webp" alt="WhatsApp icon" class="footer__social-icon" />
			</a>
		</div>
	</div>
	<div class="footer__text">
		<p>{t('footer.copyright')}</p>
	</div>
</footer>
