<main class="slider" id="inicio">
	<div class="slider__progress-bar">
		<div class="slider__progress"></div>
	</div>
	<div class="slider__wrapper" id="sliderWrapper">
		<div class="slider__item">
			<a href="/juegos/vol1">
				<img
					src="/Fotos/Banner_volume-one.webp"
					alt="Banner of Unmatched: Battle of legends Volume one game"
				/>
				<div class="slider__button">
					<a href="/juegos/vol1" class="slider__button-link">Más información</a>
				</div>
			</a>
		</div>
		<div class="slider__item">
			<a href="/juegos/rh-vs-bf">
				<img
					src="/Fotos/Banner_RHvsBF.webp"
					alt="Banner of Unmatched: Robin Hood vs Bigfoot game"
				/>
				<div class="slider__button">
					<a href="/juegos/rh-vs-bf" class="slider__button-link">Más información</a>
				</div>
			</a>
		</div>
		<div class="slider__item">
			<a href="/juegos/sunrise">
				<img src="/Fotos/Banner_Sunrise.webp" alt="Banner of Sunrise Sunset" />
				<div class="slider__button">
					<a href="/juegos/sunrise" class="slider__button-link">Más información</a>
				</div>
			</a>
		</div>
	</div>
	<div class="slider__nav">
		<a href="javascript:void(0)"></a>
		<a href="javascript:void(0)"></a>
		<a href="javascript:void(0)"></a>
	</div>
</main>
